.pokeSplash {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokeSplashContainer {
    width: 500px;
    height: 250px;
    margin-top: 200px;
    border-radius: 25px;
    border-style: dashed;
    background: url("./assets/splashBox.png");
    align-content: center;
}

.pokeSplashText {
    font-size: 2rem;
    font-weight: 700;
    margin: 30px 10px 10px 10px;
    text-align: center;
}

.textEmphasis {
    text-transform: uppercase;
}

.pokeSplashButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.pokeSplashButton:hover {background-color: #000000
}

.pokeSplashButton:active {
    background-color: #000000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}