/*.pokeSplash {*/
/*    background-color: rgba(0, 62, 244, 0.24);*/
/*    aspect-ratio: 16 / 9;*/
/*}*/

.pokeSplashContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokeSplashTextAndButton {
    width: 500px;
    height: 320px;
    margin-top: 200px;
    border-radius: 25px;
    border-style: dashed;
    background: url("./assets/splashBox.png");
    align-content: center;
}

.pokeSplashText {
    font-size: 2rem;
    font-weight: 700;
    margin: 30px 10px 10px 10px;
    text-align: center;
    text-shadow: -1px -1px 0 #0b0606, 1px -1px 0 #433a3a, -1px 1px 0 #514747, 1px 2px 0 #d7a820;
}

.textEmphasis {
    text-transform: uppercase;
}

.pokeSplashButton {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
}

.pokeSplashButton:hover {background-color: #000000
}

.pokeSplashButton:active {
    background-color: #000000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.piplup {
    background: url("./assets/piplup.png");
    width: 100px;
    height: 100px;
    position: relative;
    top: 10px;
    z-index: 10;
}